@use 'celebration-modal' as cm;
@use 'footer.scss';
@use 'header.scss';
@use 'UI-dateFilter';
@use 'moviecards-modal.scss';
@use 'moviecards.scss';

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

header,
main,
footer {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

main {
  color: #000000;
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
}

footer {
  color: #ffffff;
  background-color: #012840;
}

@media (min-width: 800px) {
  body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 799px) {
  body {
    padding: 0.5rem;
  }
}

.search__container {
  // Styling for search container
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 0.8rem;
  font-weight: 600;
  font-size: 1.1rem;

  .search__label {
    padding-bottom: 0.4rem;
  }

  .search__input {
    border-radius: 22px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1rem;
    font-weight: 400;
    opacity: 50%;
    border-color: lightgray;
    border-style: solid;
  }

  .search__clear {
    position: absolute;
    margin-left: 13.3rem;
    margin-top: 2rem;

    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
  }
}
